<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.ualberta.ca.devito_traveltracker_assignment"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vieworedit_listview"
            android:label="@string/title_activity_vieworedit_listview" >
        </activity>
        <activity
            android:name=".VieworEditLiveViewActivity"
            android:label="@string/title_activity_vieworedit_liveview" >
        </activity>
        <activity
            android:name=".VieworEditActivity"
            android:label="@string/title_activity_viewor_edit" >
        </activity>
        <activity
            android:name=".AddClaimActivity"
            android:label="@string/title_activity_add_claim" >
        </activity>
        <activity
            android:name=".Viewclaimactivity"
            android:label="@string/title_activity_viewclaimactivity" >
        </activity>
    </application>

</manifest>
